html {
  -webkit-font-smoothing: antialiased;
}
body {
  background: ;
  background-image: ;
  font-family: ;
  font-size: ;
  color: ;
  margin: 0;
  min-width: 200px;
}
img {
  border: none;
}
a {
  color: ;
  font-family: ;
}
a:hover,
a:focus {
  color: ;
}
a:active {
  color: ;
}
h1 {
  font-size: 1.8em;
}
h1,
h2,
h3,
h4 {
  color: ;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
#wrapper {
  max-width: ;
  margin: 0 auto;
}
