form {
  padding: 0;
  margin: 0 auto;
  max-width: 95%;
}
form fieldset {
  clear: both;
  border: none;
  margin: 1em 1em 0;
  padding: 0;
}
form fieldset legend {
  border-bottom: 1px solid ;
  margin: 1em auto;
  padding: 1em 0;
  width: 100%;
}
form fieldset > div {
  clear: both;
  width: 100%;
}
form .form_header {
  border-bottom: 1px solid ;
  padding: 1em;
}
form .form_header > h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}
form .form_header > p {
  color: ;
  font-size: ;
  margin: 0 0 0.75em 0;
}
form .form_elements .form_element,
form .form_elements .form_label {
  float: left;
  width: -webkit-calc(50% - 2em);
  width: calc(50% - 2em);
  padding: 0.5em 1em;
}
form .form_elements .form_label > label {
  color: ;
}
form .form_elements .form_label > p {
  font-size: ;
  line-height: 1em;
  color: ;
  margin: 0;
}
form .form_elements .form_element > * {
  width: 100%;
  margin-bottom: 0.4em;
}
form .form_elements .form_element textarea {
  min-height: 100px;
}
form .form_elements .form_element .dynamic-controls {
  margin-left: 1em;
  text-align: right;
}
form .form_elements .form_element .dynamic-controls button {
  margin-left: 0.4em;
}
form .form_elements .form_element select + .dynamic-controls {
  margin: 0;
}
form .form_elements .validation_failed label {
  color: ;
}
form .form_elements .validation_failed input,
form .form_elements .validation_failed textarea,
form .form_elements .validation_failed select {
  background-color: ;
}
form .form_footer {
  text-align: right;
  padding: 1em;
  border-top: 1px solid ;
}
form .form_element_checkbox,
form .form_element_radio {
  position: relative;
}
form .form_element_checkbox label,
form .form_element_radio label {
  font-size: 0.8em;
}
form .form_element_file_image {
  text-align: center;
  overflow-x: hidden;
  width: auto;
}
form .form_element_file_image img[src*="/"] {
  width: inherit;
  max-width: 50%;
}
form .form_errors,
form .form_notices {
  margin: 0;
  padding: 2em 2em 0;
}
form .form_errors li,
form .form_notices li {
  color: ;
}
form .form_element_remote_file {
  position: relative;
}
form .form_element_remote_file > input[type="text"] {
  width: 65%;
}
form .form_element_remote_file > input[type="text"] + input {
  position: absolute;
  top: 0;
  width: 35%;
}
form .form_element_remote_file > input[type="text"] + input[type="button"] {
  background-color: ;
  color: ;
  border: none;
  margin: 0;
}
.form_login {
  margin: 50px auto;
  max-width: 420px;
  width: 90%;
}
