.navbar {
  position: relative;
}
.navbar .nav li a {
  background-color: ;
  border-color: ;
  border-style: ;
  border-width: ;
  color: ;
  display: list-item;
  line-height: ;
  padding: 0.2 *  0.8 * ;
  text-decoration: none;
  text-transform: uppercase;
  height: ;
  min-width: 3 * ;
}
.navbar .nav li a .active,
.navbar .nav li a:hover {
  background-color: ;
  border-color: ;
  color: ;
}
.navbar .nav .nav-icon {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}
.navbar .nav .nav-icon-left {
  margin-right: 7px;
}
.navbar .nav .nav-icon-right {
  margin-left: 7px;
}
.navbar .nav > li.dropdown:hover > .dropdown-menu {
  display: block;
  z-index: 10;
}
.navbar ul {
  list-style: none;
  white-space: nowrap;
  padding: 0px;
  margin: 0;
}
.navbar ul li {
  position: relative;
  margin-right: 20px;
}
.navbar .navbar-toggle {
  display: none;
}
.navbar .navbar-handle {
  background: ;
  color: ;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  padding: 3px;
  height: 14px;
  margin: 8px;
}
.navbar .navbar-handle:before,
.navbar .navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 7px solid;
}
.navbar .navbar-handle:before {
  top: 11px;
}
.navbar .navbar-handle:after {
  top: 2px;
}
@media screen and (max-width:  - 1) {
  .navbar {
    overflow: hidden;
    background-color: ;
  }
  .navbar .nav > li,
  .navbar .nav a {
    width: 100%;
  }
  .navbar .nav .nav-icon {
    display: none;
  }
  .navbar .nav .dropdown-menu a {
    padding-left: 40px;
  }
  .navbar .nav .dropdown-submenu .dropdown-menu a {
    padding-left: 60px;
  }
  .navbar .navbar-inner li {
    display: none;
  }
  .navbar .navbar-inner > ul > li:first-child {
    display: block;
  }
  .navbar .navbar-inner > ul > li:first-child a {
    max-width: calc(100% - 100px);
  }
  .navbar .navbar-inner > ul > li:first-child a:hover {
    background-color: ;
  }
  .navbar .navbar-handle {
    display: block;
  }
  .navbar .navbar-toggle:checked + .navbar-inner li {
    display: block;
  }
}
@media screen and (min-width: ) {
  .navbar .nav li.dropdown > a {
    padding-right: 23px;
  }
  .navbar .nav li.dropdown > a.dropdown-toggle:after {
    content: "▼";
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 3px;
  }
  .navbar .nav li.dropdown li.dropdown-submenu:hover > .dropdown-menu {
    display: list-item;
    left: 100%;
    top: 0;
  }
}
@media screen and (min-width: ) {
  .navbar ul li .dropdown-menu {
    position: absolute;
    display: none;
  }
  .navbar ul li .dropdown-menu a {
    padding-right: 23px;
  }
  .navbar ul li .dropdown-menu a.dropdown-toggle:after {
    content: "►";
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 7px;
  }
}
